<body>
  <section class="contenedor">
    <div class="Lista">
      <h1 class="titulo">Qué hacemos</h1>
      <h3 class="sub">Nuestros modelos:</h3>
      <ul class="uele">
        <li class="text">Analítica de datos.</li>
        <li class="text">Intervención socioemocional.</li>
        <li class="text">Comunicacion.</li>
      </ul>
    </div>

    <div class="imagen">
      <img id="foto" src="assets/foto1.png" alt="foto1" />
    </div>
  </section>

  <div>
    <button class="el-button">conocer más</button>
  </div>
</body>
