<div class="contenedor">
    <section class="slider">
      <img class="foto" src="assets/foto1.png" alt="foto1" />
      <img class="foto" src="assets/foto2.png" alt="foto2" />
      <img class="foto" src="assets/foto3.png" alt="foto3" />
      <img class="foto" src="assets/foto4.png" alt="foto4" />
      <img class="foto" src="assets/foto5.png" alt="foto5" />
      <img class="foto" src="assets/foto6.png" alt="foto6" />
      <img class="foto" src="assets/foto7.png" alt="foto7" />
      <img class="foto" src="assets/foto8.png" alt="fotos" />
    </section>
  </div>
  
