<section class="hero">
  <div class="herofotos">
    <h1>
      Tu Historia comienza aquì. <br />
      Fundaciòn antivirus para la deserciòn.
    </h1>
    <img src="imagen.foto1.jpg" alt="hero foto1" class="herofotos" />
    <img src="imagen.foto2.jpg" alt="hero foto2" class="herofotos" />
    <img src="imagen.foto3.jpg" alt="hero foto3" class="herofotos" />
    <img src="imagen.foto4.jpg" alt="hero foto4" class="herofotos" />
    <p>vacunate y dejate embolver en un mudo de conocimiento y oportunidades</p>
  </div>
  <div class="botones">
    <a href="#" class_="botones contacto">contactos us</a>
    <a href="https:// wa.me/ your-phone-number" class="botones whatsapp"
      >whatsapp</a
    >
  </div>
  <div class="enlace">
    <a href="enlace1">Fundacion Antivirus</a>
    <a href="enlace2">Fundacion Antivirus</a>
    <a href="enlace3">Fundacion Antivirus</a>
    <a href="enlace4">Fundacion Antivirus</a>
  </div>
</section>
