.contenedor {
    width: 100%;
    font-family: 'RenogareSoft', sans-serif;
    background-color: #e6f3ff;
    margin: 0;
    padding: 0;
  }
  
  .gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #0b7fab, #06232b)
  
  }
  
  .image-container {
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .image-container.small {
    width: 25%;
  }
  
  .image-container.large {
    width: 40%;
  }