<div class="sobre-nosotros">
    <h2>Sobre Nosotros</h2>
    <div class="sobre-nosotros-container">
        <div class="sobre-nosotros-card">
            <img src="assets/images/fundadores.jpg" alt="Fundadores">
            <button>Fundadores</button>
        </div>
        <div class="sobre-nosotros-card">
            <img src="assets/images/junta_directiva.jpg" alt="Junta Directiva">
            <button>Junta Directiva</button>
        </div>
        <div class="sobre-nosotros-card">
            <img src="assets/images/revisor_fiscal.jpg" alt="Revisor Fiscal">
            <button>Revisor Fiscal</button>
        </div>
        <div class="sobre-nosotros-card">
            <img src="assets/images/contadores.jpg" alt="Contadores">
            <button>Contadores</button>
        </div>
    </div>
</div>
