<div class="sobre-nosotros">
    <h2>Sobre Nosotros</h2>
    <div class="sobre-nosotros-container">
        <div class="sobre-nosotros-card btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Fundadores <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Carlos Vásquez Restrepo</a></li>
                <li><a href="#">Paulina Tamayo Mejía</a></li>
                <li><a href="#">Víctor Manuel Valencia Martínez</a></li>
                <li><a href="#">Luis Fernando González Urán</a></li>
                <li><a href="#">Andrea Jaramillo Ramírez</a></li>
                <li><a href="#">Laura Calle Escobar</a></li>
                <li><a href="#">León Felipe Hernández López</a></li>
                <li><a href="#">Aida Orduz Quijano</a></li>
            </ul>
        </div>
    </div>

    <div class="sobre-nosotros-container">
        <div class="sobre-nosotros-card btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Junta Directiva <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Carlos Vásquez Restrepo<br><span class="title">Presidente Y Representante Legal Titular</span></a></li>
                <li><a href="#">Luis Fernando Sánchez Hurtado<br><span class="title">Vicepresidente / Director y Primer Representante Legal Suplente</span></a></li>
                <li><a href="#">David Santiago Botero Rodríguez<br><span class="title">Segundo Representante Legal Suplente / Coordinador Legal</span></a></li>
                <li><a href="#">Víctor Manuel Valencia Martínez<br><span class="title">Subdirector / Tercer Representante Legal Suplente</span></a></li>
                <li><a href="#">Luis Fernando González Urán</a></li>
            </ul>
        </div>
    </div>
        <div class="sobre-nosotros-card btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Revisor Fiscal <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Orlando Gaviria Flórez</a></li>
            </ul>
        </div>

        <div class="sobre-nosotros-card btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Contadora <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">María Verónica Ortiz Rodríguez</a></li>
            </ul>
        </div>
    </div>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
