body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6f2ff;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.admin-info {
    display: flex;
    align-items:center;
    padding: 20px;
    box-shadow: 0 4px 8px #003D49;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

h2 {
    color: #003D49;
}

.logout {
    margin-left: 20px;
    color: blue;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

h3 {
    color: #FFC107;
}

.admin-details {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #003D49;
    max-width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px #003D49;
    height: 50%;
    box-sizing: border-box;
    color: #003D49;
}

.user-management {
    width: 55%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e6f2ff;
    border-radius: 10px;
    box-shadow: 0 0 10px #003D49;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #003D49;
    color: #ddd;
}