<div class="container">
  <header>
    <div class="admin-info">
      <img src="osito.png" alt="Avatar del administrador" class="avatar" />
      <h2>Nombre del administrador</h2>
      <a href="#" class="logout">Cerrar sesión</a>
    </div>
  </header>
  <main>
    <section class="admin-details">
      <h3>Detalles del administrador</h3>
      <p><strong>Nombre completo:</strong> [Nombre Completo]</p>
      <p><strong>Correo electrónico:</strong> [Correo Electrónico]</p>
      <p><strong>Teléfono:</strong> [Teléfono]</p>
      <p><strong>Rol de administrador:</strong> [Rol y Permisos]</p>
      <p><strong>Última sesión:</strong> [Última Sesión]</p>
      <p><strong>Actividades recientes:</strong> [Actividades Recientes]</p>
    </section>
    <section class="user-management">
      <h3>Usuarios</h3>
      <table>
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electrónico</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>usuario1</td>
            <td>Juan</td>
            <td>Pérez</td>
            <td>juan&#64;perz.com</td>
            <td>11/04/2012</td>
          </tr>
          <tr>
            <td>usuario2</td>
            <td>Pedro</td>
            <td>Pérez</td>
            <td>pedro&#64;perz.com</td>
            <td>15/04/2020</td>
          </tr>
          <tr>
            <td>usuario3</td>
            <td>Jose</td>
            <td>Pérez</td>
            <td>jose&#64;perz.com</td>
            <td>30/08/2021</td>
          </tr>
          <tr>
            <td>usuario4</td>
            <td>Tina</td>
            <td>Toledo</td>
            <td>tina&#64;perz.com</td>
            <td>13/10/2023</td>
          </tr>
          <tr>
            <td>usuario5</td>
            <td>Martina</td>
            <td>Martinez</td>
            <td>martina&#64;perz.com</td>
            <td>05/03/2020</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
      
</div>
