.pantalla-dividida{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.izquierda{
    width: 50%;  
}

h2{
    font-family: Impact, sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 10px #FFBA08;
    padding: 5px 15px;
    word-wrap: break-word;
}


.teoria, .valores,.proposito, .mision, .vision, .publico-objetivo, .prioridades{
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: inset 2px 2px 5px #FFBA08;
    text-shadow: 1px 1px 10px #ADD6FF; 
    text-align: justify;   
    text-indent: 2rem;
    padding: 10px 15px;
    text-size-adjust: auto;
    font-size: 0.8rem;
    word-wrap: break-word;
}

@media screen and (max-width: 767px) {
    .pantalla-dividida {
        flex-direction: column;
        margin: auto;
    }
    h2{
        text-align: center;
    }
   
}