<div class="container container-fluid ">
    <div class="row formulario-beneficios">
          <div class="col-sm-7 col-12 contenido-beneficios px-5 py-4 align-self-start">
              <div class="titulo-beneficios mt-3 mb-5">
                  <h2>¿Listo para tu próxima oportunidad?</h2>
              </div>
              <div class="nombre-beneficios">
                  <label for="nombre-beneficios" class="form-label mt-2">Nombre</label>
                  <input
                  type="text"
                  id="nombre-beneficios"
                  name="nombre"
                  placeholder="Nombre"  pattern="[A-Za-z]+" title="Solo se permiten letras." required
                  />
              </div>
              <div class="apellido-beneficios">
                  <label for="apellido-beneficios" class="form-label mt-2">Apellido</label>
                  <input
                  type="text"
                  id="apellido-beneficios"
                  name="apellido"
                  placeholder="Apellido"  pattern="[A-Za-z]+" title="Solo se permiten letras." required
                  />
              </div>
              <div class="fecha-de-nacimiento">
                  <label for="fecha-de-nacimiento" class="form-label mt-2">Fecha de Nacimiento</label>
                  <input
                  type="date"
                  id="fecha-de-nacimiento"
                  name="fecha-de-nacimiento" min="1940-01-01" max="2024-08-11"
                  />
              </div>
              <div class="correo-beneficios">
                  <label for="correo-beneficios" class="form-label mt-2"
                  >Correo Electrónico</label
                  >
                  <input
                  type="email"
                  class="form-control"
                  id="correo-beneficios"
                  placeholder="correo@ejemplo.com"
                  />
              </div>
              <div class="contrasenia-beneficios">
                  <label for="contrasenia-beneficios" class="form-label mt-2"
                  >Contraseña</label
                  >
                  <input
                  type="password"
                  class="form-control"
                  id="contrasenia-beneficios"
                  placeholder="Escribe tu contraseña"
                  />
              </div>
              <div class="telefono-beneficios">
                  <label for="telefono-beneficios" class="form-label mt-2">Teléfono</label>
                  <input
                  type="tel"
                  id="telefono-beneficios"
                  name="telefono"
                  placeholder="xxx xxxxxxx"
                  />
              </div>
              <div class="enviar-beneficios d-flex justify-content-center align-items-center ">
                  <button type="submit" class=" btn-registrarse">REGISTRARSE</button>
              </div>
          </div>
          <div class="col-sm-5 card card-javi d-flex justify-content-center align-items-center">
              <img
                  src="img/Javi 3.jpg"
                  alt="imagen de Javi"
                  class="img-fluid"
                  id="javi-beneficios"
              />
              <p class="card-text">Bienvenido a bordo</p>
          </div>
    </div>
  </div>
  <div class="container container-fluid beneficios-texto mt-5 mb-5">
      <h2>¡Obtén los siguientes beneficios!</h2>
      <div class="textos beneficio1 px-3">
          <h3>Creación de perfil personal</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eius, ipsum repellendus corporis enim nemo iste est, voluptate fugit officia minima accusamus nostrum harum. Repellendus cupiditate ut ipsa neque at esse odio inventore vitae impedit omnis vero provident, nisi nihil dolor eligendi dignissimos quaerat voluptates id possimus nulla consectetur. Harum.</p>
      </div>
      <div class="textos beneficio2 px-3">
          <h3>Orientación personalizada</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eius, ipsum repellendus corporis enim nemo iste est, voluptate fugit officia minima accusamus nostrum harum. Repellendus cupiditate ut ipsa neque at esse odio inventore vitae impedit omnis vero provident, nisi nihil dolor eligendi dignissimos quaerat voluptates id possimus nulla consectetur. Harum.</p>
      </div>
      <div class="textos beneficio3 px-3">
          <h3>Acceso a contenido exclusivo</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eius, ipsum repellendus corporis enim nemo iste est, voluptate fugit officia minima accusamus nostrum harum. Repellendus cupiditate ut ipsa neque at esse odio inventore vitae impedit omnis vero provident, nisi nihil dolor eligendi dignissimos quaerat voluptates id possimus nulla consectetur. Harum.</p>
      </div>
      <div class="textos beneficio4 px-3">
          <h3>Guardar Oportunidades</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis eius, ipsum repellendus corporis enim nemo iste est, voluptate fugit officia minima accusamus nostrum harum. Repellendus cupiditate ut ipsa neque at esse odio inventore vitae impedit omnis vero provident, nisi nihil dolor eligendi dignissimos quaerat voluptates id possimus nulla consectetur. Harum.</p>
      </div>
  </div>
