    <footer class="footer">
        <div class="footer-row">
            <div class="container">
                <div class="box-contactanos">
                    <div class="contactanos">
                        <h4>¿Quieres saber más sobre nosotros?</h4>
                        <p>Contáctanos hoy mismo.</p>
                    </div>
                    <div class="contactanos">
                        <h4>Por e-mail</h4>
                        <a href="#">contactenos&#64;fundacionparaladesercion.org</a>
                    </div>
                    <div class="contactanos">
                        <h4>Por Whatsapp</h4>
                        <a href="https://api.whatsapp.com/send/?phone=%2B573173831481&text&type=phone_number&app_absent=0" target="_blank">+57 322 636 7781</a>
                    </div>
                    <div class="contactanos">
                        <h4>Visitanos</h4>
                        <p>Calle 79 Sur # 50-165 - Oficinas 301 y 401<br>La Estrella - Antioquia - Colombia</p>
                    </div>
                    <div class="contactanos">
                        <h5><a href="#">Banco de oportunidades</a></h5>
                    </div>
                </div>
                <div class="box-links">
                    <figure class="logo">
                        <a href="#">
                            <img src="assets/LogoFundación.svg" alt="logo de antivirus">
                        </a>
                    </figure>
                    <div class="social-link">
                        <a href="https://www.instagram.com/somosantivirus/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/antivirus-desercion/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/channel/UCCDsmMeIqSWGk_fh1m9FX0w" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://api.whatsapp.com/send/?phone=%2B573173831481&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.tiktok.com/@somosantivirus" target="_blank"><i class="fab fa-tiktok"></i></a>    
                    </div>
                </div>
                <div class="box-info">
                    <div class="info">
                        <h4>Fundación</h4>
                        <ul>
                            <li><a href="#">¿Quienes somos?</a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4>Qué hacemos</h4>
                        <ul>
                            <li><a href="#">Analitica de datos</a></li>
                            <li><a href="#">Intervención socio-emocional</a></li>
                            <li><a href="#">Comunicaciones</a></li>
                        </ul>
                    </div>
                    <div class="info">
                        <h4>Servicios</h4>
                        <ul>
                            <li><a href="#">A los estudiantes</a></li>
                            <li><a href="#">Consultorias e implementación de proyectos</a></li>
                        </ul>
                    </div>
                </div> 
            </div> 
            <div class="box-terminos">
                <div class="terminos" id="copyrights">
                    <h5><a>Antivirus para la Deserción &COPY; 2024 all rights reserved</a></h5>
                </div>
                <div class="terminos" id="politica-datos">
                    <h5><a href="#">Política de protección de datos</a></h5>
                </div> 
            </div>          
        </div>
    </footer>  