<h1>Servicios a los estudiantes</h1>
<div class="services-container">
    <div class="service-card">
        <img src="assets/Apoyo académico.jpg" width="600" height="300">
        <h2>APOYO ACADÉMICO</h2>
            <h3>Tutorías / Mentorías</h3>
            <p>Las tutorías académicas son un espacio de repaso personalizado de aquellas materias que representan mayor dificultad.</p>          
            <h3>Nivélate con Antivirus</h3>
            <p>Es una estrategia que busca acompañar abiertamente a todos los estudiantes que se encuentran en estado de vulnerabilidad académica y buscan aprobar los cursos.</p>
            <h3>Grupos de Estudio</h3>
            <p>Es un espacio de encuentro para grupos pequeños de estudiantes enfocado en el repaso de materias específicas.</p>
    </div>
    <div class="service-card">
        <img src="assets/Acompañamiento.jpg" width="600" height="300">
        <h2>ACOMPAÑAMIENTO Y ORIENTACIÓN</h2>
            <h3>Asesorías Socio-pedagógicas</h3>
            <p>Las asesorías socio-educativas son espacios de encuentro, escucha y apoyo a los estudiantes en estado de vulnerabilidad.</p>
            <h3>Plan Padrino</h3>
            <p>Es una estrategia que busca establecer un contacto entre los estudiantes que recién ingresan y sus compañeros de semestres superiores y egresados, con el objetivo de que estos los acompañen de acuerdo a su experiencia recorrida en la universidad.</p>           
            <h3>Acompañamiento Ocupacional</h3>
            <p>Son encuentros entre los estudiantes nuevos con egresados de Ingeniería de Sistemas con el propósito de conversar sobre temas relacionados con el mundo laboral.</p>
    </div>
</div>