<div class="container">
    <div class="text-section">
        <h2>NUESTRO MODELO</h2>
        <H1>ANALÍTICA DE DATOS</H1>
        <P>El área de Analítica de Datos se basa en una solución integral y open-source para la permanencia estudiantil apoyada en la tecnología, donde se usan el Machine Learning y la Big Data para responder a alertas tempranas de riesgo de abandono estudiantil y análisis de las causas raíces que lo producen.
        </P>
        <P>Además, por medio de una aplicación web se realiza la gestión de casos de intervención para accionar a los datos y se hace acompañamiento para una correcta adopción desde el área de bienestar con consultas de expertos en permanencia.
        </P>
    </div>
</div>
