/* button-wompi.component.css */
.wompi-button {
  width: 150px; /* Ajusta el tamaño según tus necesidades */
  height: 150px;
  background-color: transparent; /* Fondo transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none; /* Sin bordes */
  cursor: pointer;
  position: fixed; /* Posiciona el botón de manera fija en la ventana */
  top: 20px; /* Ajusta la distancia desde la parte superior de la ventana */
  right: 20px; /* Ajusta la distancia desde la parte derecha de la ventana */
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  padding: 0; /* Sin padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para dar un efecto flotante */
  border-radius: 50%; /* Hace que el botón sea redondo */
}

.wompi-button img {
  width: 100%; /* Ajusta la imagen al 100% del tamaño del botón */
  height: auto;
  border-radius: 50%; 
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

.wompi-button:hover img {
  background-color: yellow; /* Fondo amarillo al pasar el cursor */
  border-radius: 50%; /* Hace que el fondo amarillo sea redondo */
}
