.animation{

    animation: move 3s infinite alternate;


}
@keyframes move {
    0%{
        margin-left: 50px;
    }
    50%{
        margin-left: 0px;

    }
    100%{
        margin-left: 50px;

    }
    
}