<div class="container-md mt-5 d-flex flex-column gap-3" >
    <div>
        <h3 class="fs-2">BUSCAMOS DISMINUIR LOS NIVELES DE DESERCIÓN EN COLOMBIA</h3>
    </div>
    <div class="d-flex justify-content-end">
        <div class=" rounded-4 p-3 me-5" style="width:40% ;background-color: #D6E8F2;">
            <p>Siendo esta nuestra manera de aportar al logro de un país con más educación y consecuentemente con más
                desarrollo.</p>
        </div>
    </div>
    <div class="d-flex">
        <div class="d-flex justify-content-center">
            <div class="rounded-4 p-3 me-5" style="width:40% ;background-color: #D6E8F2;">
                <p>Identificar estudiantes con vulnerabilidades y acompañarlos integralmente, a través de un ecosistema
                    de estrategias</p>
            </div>
        </div>
        <div class="w-25 pt-5 ">
            <div>
                <h2 class="fs-1">Conoce más aquí <span class="animation">➡</span></h2>
            </div>
        </div>
    </div>
</div>