<div class="me-3">
    <div class="contenedor-video top-0 end-0 p-5 mt-5">
        <h6>¿Quiénes somos?</h6>
        <h1 class="titulo-video">Antivirus para la deserción</h1>
        <p class="parrafo-video">
            Somos una orgaización sin ánimos de lucro que busca disminuir los
            niveles de deserción estudiantil en Colombia, mejorar los niveles de
            permanencia y de graduación, siendo esta nuestra manera de aportar
            al logro de un país con más educación y consecuentemente con más
            desarrollo.
        </p>
        <div class="ratio ratio-16x9">
            <iframe
            id="video"
            src="https://www.youtube.com/embed/hi0luyU_v08?si=txkNSrrSurA9yTWA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            ></iframe>
        </div>
    </div>
</div>