<div class="d-flex justify-content-center my-5">
    <form class="form-container">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>

        <input type="email" id="email" name="email" placeholder="Correo electrónico" required>

        <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>

        <input type="text" id="asunto" name="asunto" placeholder="Asunto" required>

        <textarea id="comentarios" name="comentarios" rows="4" placeholder="Comentarios" required></textarea>

        <div class="checkbox-container">
            <input type="checkbox" id="condiciones" name="condiciones" required>
            <label for="condiciones">He leído y acepto las condiciones de tratamiento de datos.</label>
        </div>
        <button type="submit">Enviar mensaje</button> 
    </form>
</div>