<div>
    <div class="container">
        <section class="news">
            <div>
                <h1>Noticias</h1>
            </div>
        </section>
        <section id="slider">

            <input type="radio" name="slider" id="s1" checked>
            <input type="radio" name="slider" id="s2">
            <input type="radio" name="slider" id="s3">
            <input type="radio" name="slider" id="s4">
            <input type="radio" name="slider" id="s5">
            <input type="radio" name="slider" id="s6">
            <input type="radio" name="slider" id="s7">

            <label for="s1" id="slider1">
                <a href="https://www.comfama.com/sala-de-prensa/" target="_blank">
                    <img src="assets/Banner-Comfama.jpg" alt="Banner-Comfama">
                </a>
            </label>
            <label for="s2" id="slider2">
                <a href="https://velezreyesmas.com/tech-fellowship/" target="_blank">
                    <img src="assets/Banner-Velez.jpg" alt="Banner-Velez">
                </a>
            </label>
            <label for="s3" id="slider3">
                <a href="https://www.bancosantander.es/universidades/educacion/becas" target="_blank">
                    <img src="assets/Banner-Santander.jpg" alt="Banner-Santander">
                </a>
            </label>
            <label for="s4" id="slider4">
                <a href="https://www.eafit.edu.co/nodo" target="_blank">
                    <img src="assets/Banner-Nodo.jpg" alt="Banner-Nodo">
                </a>
            </label>
            <label for="s5" id="slider5">
                <a href="https://web.icetex.gov.co/prensa/comunicados" target="_blank">
                    <img src="assets/Banner-Icetex.jpg" alt="Banner-Icetex">
                </a>
            </label>
            <label for="s6" id="slider6">
                <a href="https://www.icfes.gov.co/web/guest/noticias-y-prensa" target="_blank">
                    <img src="assets/Banner-Icfes.jpg" alt="Banner-Icfes">
                </a>
            </label>
            <label for="s7" id="slider7">
                <a href="https://www.mineducacion.gov.co/portal/salaprensa/" target="_blank">
                    <img src="assets/Banner-Mineducacion.jpg" alt="Banner-Mineducacion">
                </a> 
            </label>
        </section>
        <section class="container">
            <div class="opportunities">
                <h1>¡Mira estás oportunidades!</h1>
            </div>
        </section>
        <section class="container">
            <div class="card-images">
                <div class="card">
                    <div class="imgBx" data-text="Icetex">
                        <img src="assets/Oportunidad-Icetex.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Icetex - Plan de Oportunidades</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://web.icetex.gov.co/creditos/pagos/plan-de-oportunidades" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="Nodo-Web">
                        <img src="assets/Oportunidades-Nodo_Desarrollo_Web.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Nodo-Lumni - Ruta de desarrollo Web</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://es.nodoeafit.com/financiacion-lumni-desarrollo-web/" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="Comfama">
                        <img src="assets/Oportunidades-Comfama_Web.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Comfama - Becas desarrollo Web</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://www.comfama.com/sala-de-prensa/convocatoria-becas-centro-de-empleo/" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="Sapiencia">
                        <img src="assets/Oportunidades-Sapiencia.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Sapiencia - Convocatorias 2024-2</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://sapiencia.gov.co/sapiencia-abrio-convocatoria-2024-2-con-mas-de-7-900-cupos/" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="Velez">
                        <img src="assets/Oportunidades-Velez.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Vélez - Becas Tech</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://velezreyesmas.com/becas/" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx" data-text="Nodo-Municipios">
                        <img src="assets/Oportunidades-Nodo_Municipios.jpg">
                    </div>
                    <div class="content">
                        <div>
                            <h3>Nodo - Becas digitales Oriente, Suroeste y Urabá</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Suscipit rerum delectus molestiae ut quasi reiciendis cum? 
                            Ad delectus minima sunt, neque odit facere, harum odio velit, 
                            quo deserunt molestiae aperiam!</p>
                            <a href="https://es.nodoeafit.com/beca-futuro-digital-fraternidad/" target="_blank">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>