<div id="carouselHome" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-wrap="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner d-flex text-align-center mx-auto">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="card">
          <div class="card-inner">
            <div class="card-front card-body">
              <img src="assets/img1.JPG" alt="Imagen de Fundación Antivirus" class="img-fluid">
              <h3  class="card-title">&#64;somosantivirus</h3>
              <p class="card-text">Somos una fundación que busca...</p>
            </div>
            <div class="card-back">
              <p class="card-text">Somos una fundación que busca disminuir los niveles de deserción estudiantil en Colombia. Siendo esta nuestra manera de aportar al logro de un país con más educación y consecuentemente con más desarrollo.</p>
              <a href="#" class="btn btn-enlace">Conoce más aqui...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="assets/img2.jpg" alt="Imagen de Fundación Antivirus" class="img-fluid">
              <h3>&#64;somosantivirus</h3>
              <p>En la Fundación ATV creemos ...</p>
            </div>
            <div class="card-back">
              <p class="card-text">En la Fundación ATV creemos en la educación como un arma poderosa de transformación social, que posibilita sembrar semillas de cambio para transformar realidades, por eso, nuestro compromiso con la educación es cada vez más fuerte.</p>
              <a href="#" class="btn btn-enlace">Conoce más aqui...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="assets/img3.JPG" alt="Imagen de Fundación Antivirus" class="img-fluid">
              <h3>&#64;somosantivirus</h3>
              <p>Hemos estado avanzando en...</p>
            </div>
            <div class="card-back">
              <p class="card-text">Hemos estado avanzando en espacios para el fortalecimiento de alianzas con diferentes entes estratégicos para la Fundación, gracias a estos espacios damos a conocer el quehacer de ATV, y sumamos fuerzas para combatir la deserción.</p>
              <a href="#" class="btn btn-enlace">Conoce más aqui...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <div class="card-inner">
            <div class="card-front">
              <img src="assets/img4.JPG" alt="Imagen de Fundación Antivirus" class="img-fluid">
              <h3>&#64;somosantivirus</h3>
              <p>Nuestro enfoque multidisciplinario...</p>
            </div>
            <div class="card-back">
              <p class="card-text">Nuestro enfoque de caracter multidisciplinario de cara al acompañamiento con los estudiantes está marcando la diferencia. Al conjugar lo social, comunicativo y TI, de manera contextualizada en los estudiantes, estos  encuentran en Antivirus un lugar para ser orientados en su proceso.</p>
              <a href="#" class="btn btn-enlace">Conoce más aqui...</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
