<Section class="contenedor">
    <div class="encabezado">
        <h1 class="titulo">TU FUTURO COMIENZA HOY</h1>
    </div>
    <div class="card">
        <div class="letras">
            <p class="texto">En la fundación Antivirus para la deserción creemos que cada persona merece acceso a las mejores oportunidades.</p>
        </div>
        <div class="letras">
            <p class="texto">Por eso, ofrecemos una plataforma personalizada donde puedes explorar becas, cursos y programas adaptados a tus intereses y necesidades.</p>
        </div>
    </div>
    <div class="aside">
        <div class="imagen">
                <img class="foto" src="assets/foto01.png" alt="Jóvenes estudiando">
        </div>
    </div>
    <div class="boton">
        <div class="zona_cliqueable">
            <a href="servicios" class="clic">CONOCE LOS SERVICIOS</a>
        </div>
    </div>
</Section>  
