<div class="contenedor">
  <section class="hero">
      <div class="encabezado">
          <img src="/assets/logo_gde.png" alt="Logotipo Fundación Antivirus" class="logo">
      </div>
      <section class="centro">
          <main class="area">
              <article class="card">
                  <header class="grupo">
                      <h1>Estudiantes</h1>
                  </header>
                  <p class="descripción">Servicios para estudiantes:</p>
                  <ul class="lista">
                      <li class="item">Apoyo académico</li>
                      <li class="item">Banco de Oportunidades Estudiantiles</li>
                      <li class="item">Acompañamiento y orientación</li>
                      <li class="item">Repositorio Fundación Antivirus</li>
                  </ul>
              </article>
          </main>
          <main class="area">
          <article class="card">
              <header class="grupo">
                  <h1>Proyectos</h1>
              </header>
              <p class="descripción">Consultorías e implementación de proyectos para la permanencia en:</p>
              <ul class="lista">
                  <li class="item">Universidades</li>
                  <li class="item">Bootcamps</li>
                  <li class="item">Colegios</li>
                  <li class="item">Programas de becarios de ONGs y empresas</li>
              </ul>
          </article>
          </main>
      </section>
      <footer class="frase">
          <h1 class="he_is_Logan">TU FUTURO COMIENZA HOY</h1>
      </footer>
  </section>    
 </div>

