<div class="container">
    <div class="text-section">
        <h2>NUESTRO MODELO</h2>
        <h1>INTERVENCIÓN SOCIO-EMOCIONAL</h1>
        <p>Es el campo de acción de la fundación que pretende identificar y comprender las particularidades del contexto sociocultural y socioemocional de los estudiantes, para influir, transformar e impactar significativamente en sus condiciones y su proceso formativo, a través de herramientas y alternativas de acompañamiento socio pedagógico.
        </p>
        <p>El equipo social está compuesto por trabajadores sociales y psicólogos encargados de diseñar y ejecutar estrategias de fortalecimiento académico, apoyo psicoemocional y sociopedagógico. Esta área cuenta con las siguientes líneas de Intervención social: 
        </p>
        <h3>Fortalecimiento académico</h3>
        <p>Búsqueda de tutores y mentores dispuestos recibir un módico estipendio por hora y ofrecer otra hora voluntaria. En este sentido, una vez encontrados los tutores, esta área es responsable de crear las citas para la tutoría uno a uno y talleres temáticos para un repaso complementario de clases y grupos de estudio.
        </p> 
        <h3>Acompañamiento Psicoemocional y Sociopedagógico</h3>
        <p>Esta área está encargada de:
        </p>
            <ul>
                <li>Supervisar, orientar y atender a los estudiantes con problemas en su estado mental y salud emocional.</li>
                <li>Dar orientación a situaciones vocacionales o familiares,</li>
                <li>Ayudar a fortalecer las habilidades socioemocionales y relacionales.</li>
                <li>Crear espacios temáticos y de asesoramiento individual y grupal.</li>
            </ul>
    </div>
</div>



